<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <main>
        <div id="botoes">
            <h1> Login </h1>
            <input class="botao" placeholder="Digite seu e-mail">
            <input class="botao" placeholder="Digite sua senha">
            <button onclick="Logar()">Logar </button>
            <button style="background-color: transparent;" href="http://localhost:5500/View/Cadastrar/index.html"> 
                <a href="http://localhost:5500/View/Cadastrar/index.html">
                    Cadastrar-se
                </a>
            </button>
        </div>
    </main>
    <script src="src/index.js"></script>
</body>
</html>