body{
    margin: 0px;
}

main {
    margin-top: 25vh;
    display: grid;
    place-items: center;
}


#Perfil{
    display: grid;
    width: 20vw;
    background-color: #2e2c2c;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 20px;
    padding-left: 20px;
    
}

img{
    height: 100px;
    padding: 10px;
    place-self: center;
}



h3{
    
    margin-top: 0px;
    color:white;
    text-align: left;
}

button{
    border-radius: 20px;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-size: 12pt;
    padding: 10px;
    
}

footer{
    margin-top: 10vh;
    background-color: #2e2c2c;
    height: 20vh;
    text-align: center;
    padding-top: 3.5vh;
    font-size: 10pt;
   font-family: 'Courier New', Courier, monospace;

}

.creditos{
    color: white;
    margin-bottom: 1vh;
}


@media screen and (max-width: 1000px){

    #Perfil{
        display: grid;
        place-items: center;
        width: 60vh;
        border-radius: 20px;
        margin-bottom: 20px;
        
    }
}


