<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style/style.css">

</head>
<body>
    <main>
        <div id="botoes">
            <h1> Cadastrar-se</h1>
     
            <input class="botao" placeholder="Digite seu e-mail">
            <input class="botao" placeholder="Digite seu nome">
            <input type="date" min="1900-01-01" class="botao" id="datas">
            <input type="password" class="botao" placeholder="Digite sua senha">
            <input type="password" class="botao" placeholder="Confirme sua senha">
            
            <button onclick="Cadastrar()"> Cadastro</button>
            

        </div>
    </main>
    <script src="src/index.js"></script>
</body>
</html>