<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <main>
        <div id="botoes">
            <h1> Cadastrar-se</h1>
            <input class="botao" placeholder="Digite seu e-mail">
            <input class="botao" placeholder="Digite seu nome">
            <input type="date" class="botao" id="datas">
            <input class="botao" placeholder="Digite sua senha">

            <button onclick="Cadastrar()"> Cadastro</button>
            

        </div>
    </main>
    <script src="src/index.js"></script>
</body>
</html>