

main {
    margin-top: 10vh;
    display: grid;
    place-items: center;
}


#botoes{
    display: grid;
    place-items: center;
    width: 20vw;
    background-color: #2e2c2c;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    padding-right: 20px;

    
}

h1{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25pt;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.botao{
    background-color: transparent;
    border-style:solid;
    border-radius: 6px;
    color:white;
    border-color: #949292;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    height: 24px;
    margin-top: 20px;
}

#datas{
   
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    
}

input{
    width: 200px;
}

button {
    border-radius: 5px;
    border-radius: 20px;
    background-color: #a4a4a4;
    border-color: #949292;
    color: white;
    height: 40px;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
}
#btn-logar{
    background-color: transparent;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: white;
}

p{
    color:#ff3131;
    font-size: 8pt;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 0px;
    display: none;
}

@media screen and (max-width: 1200px){

    #botoes{
        display: grid;
        place-items: center;
        width: 40vh;
        
        border-radius: 20px;
        
    }
    
    h1{
        font-size: 20pt;
    }
    
}
